@use 'console-common';

$backgroundColor: #000;
$textColor: #00ff00;
$darkerTextColor: #005f00;
$headerTextColor: #ffffff;

body, html {
  background-color: $backgroundColor;
  color: $textColor;
}

.panel {
  border: 1px solid $textColor;
}

thead {
  color: $headerTextColor;
  border-bottom: none;
}

.panel h2 {
  border-bottom: 1px solid $textColor;
}

.content th {
  border-bottom: 1px solid $textColor;
}

.content td {
  border-bottom: 1px solid $textColor;
}

.content tr:hover td {
  background-color: $darkerTextColor;
}

.command-line {
  border-top: 1px solid $textColor;
}
